.sidebar-btn {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background-color: hsl(var(--background));
  padding: 0.5rem;
  color: hsl(var(--foreground));
}

.sidebar-btn:enabled:hover {
  filter: brightness(200%);
}

.sidebar-btn:disabled {
  background-color: transparent;
  filter: brightness(70%);
}

.sidebar-btn-mobile {
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 0.5rem;
  background-color: hsl(var(--background));
  padding: 0.5rem;
}

.sidebar-btn-mobile:hover {
  filter: brightness(90%);
}

.sidebar-btn-mobile:disabled {
  background-color: transparent;
  filter: brightness(170%);
}
