@import "./variables.css";
@import "./buttons.css";
@import "./animations.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

a {
    color: hsl(var(--primary));
    font-weight: 600;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: hsl(var(--background));
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: hsl(var(--secondary));
    border-radius: 5px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
